.App {
  text-align: center;
}

a {
  box-shadow: inset 0 0 0 0 #54b3d6;
  font-size: 25px;
  color: #f5f7f8;
  margin: 0 -.25rem;
  margin-right: 15px;
  margin-left: 15px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
  box-shadow: inset 200px 0 0 0 #54b3d6;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  margin-top: px;
  width: 100vw;
  height: 55px;
  padding-top: 10px;
  background-color: rgb(54, 59, 77);
}

.header {
  background-color: #59657f;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}

.main {
  width: 1000px;
  height: 500px;
  padding: 30px;
  margin-left: 70px;
  border-radius: 10px;
  background-color: rgb(178, 181, 195);
}
.services {
  width: 1000px;
  height: 500px;
  padding: 30px;
  margin-left: 70px;
  border-radius: 10px;
  background-color: rgb(178, 181, 195);
}

.testimonials {
    width: 1000px;
    height: 500px;
    padding: 30px;
    margin-left: 70px;
    border-radius: 10px;
    background-color: rgb(178, 181, 195);
}

.footer {
  width: 100vw;
  height: 50px;
  padding-top: 5px;
  text-align: center;
  background-color: rgb(211, 226, 242);
  font-size: 10px;
}

