.container {
    display: grid;
    grid-template-rows: repeat(6,   310px);
    grid-template-columns: 2fr 1fr
}
.container > div {
    
}

.author-text {
    position: relative;
    top: 10px;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by {
    position: relative;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.author-text-2 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-2 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.author-text-3 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-3 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.author-text-4 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-4 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}
.author-text-5 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-5 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.author-text-6 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-6 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.author-text-7 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-7 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.author-text-8 {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.author-by-8 {
    position: relative;
    top: -30px;
    left: 80px;
    font-family: Libre Baskerville;
    font-size: 17px;
    color: #C0CAC3;
}

.link-text {
    position: relative;
    left: 80px;
    font-family: Julius Sans One;
    font-size: 20px;
    color: #607476;
}

.links {
    position: relative;
    top: 70px;
    background-color: #b7c5bc;  
    background-image: url("/images/bamboo.png") ;
    height: 720px;
    width: 50%;
}

.links-2 {
    background-color: #e5ede8;
    background-image: url("/images/bamboo.png") ;
    height: auto;
    width: 50%;
    background-color: #bfd8c9;  
}

.footer {
    position: relative;
    top: 700px;
    grid-column: 1 / -1;
    background-color: aquamarine;
    width: 100vw;
    position: relative;
    margin-top: 250px;
}

#authors {
    background-color: #e5ede8;
    position: relative;
    height: 1000px;
    width: 33vw;

}

/* #authors-2 {
    background-color: #e5ede8;
    position: relative;
    width: 33vw;


}

#authors-3 {
    background-color: #e5ede8;
    position: relative;
    width: 33vw;
}
 */



/* 
.huntington {
    max-width: 75%;
    height: auto;
} */

@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v8/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(https://fonts.gstatic.com/s/librebaskerville/v7/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QDO-WyrubOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

h1 {
    position: absolute;
    color: aliceblue;
    font-family: julius sans one;
    font-size: 50px;
    top: 80px;
    left: 23vw;
}

h3 {
    position: absolute;
    color: aliceblue;
    font-family: Libre Baskerville;
    font-size: 30px;
    opacity: .5;
    top: 150px;
    left: 23vw;
}

.road {
    position: absolute;
    font-family: Libre Baskerville;
    color: black;
    font-size: 30px;
    top: 490px;
    left: 130px;
    
}
.what-about {
    position: absolute;
    font-family: Libre Baskerville;
    color: black;
    font-size: 30px;
    top: 850px;
    left: 130px;
}

.participation {
    position: absolute;
    font-family: Libre Baskerville;
    color: black;
    font-size: 30px;
    top: 0px;
    left: 120px;
}


.benefits {
    position: absolute;
    font-family: Libre Baskerville;
    color: black;
    font-size: 30px;
    top: 460px;
    left: 120px;
}

.requirements {
    position: absolute;
    font-family: Libre Baskerville;
    color: black;
    font-size: 30px;
    top: 50px;
    left: 50px;
}

p {
    font-family: Libre Baskerville;
    align-content: center;
    color: #325050;
    font-size: 18px;
    line-height: 1.8;
}

.brush {
    top: 110px;
    left: 175px;
    
}

.contours {
    
}

#head-left {
    background-image: url("/images/huntington.jpg")  ;
    height: auto;
    width: 100%;
    background-repeat: no-repeat, repeat;
}

#head-right {
    position: relative;
    height: 500px;
    background-image: url("/images/huntington.jpg") ;
    opacity: .9;
    height: auto;
    width: 50%;
    background-repeat: no-repeat, repeat;
}

#text {
    padding: 55px;
    margin-left:70px;
    margin-right:20px;
}

#text-2 {
    padding: 55px;
    position: relative;
    top: 450px;
    margin-left:70px;
    margin-right:20px;
    height: 800px;
}

#participation {
    background-image: url("/images/bamboo.png") ;
    position: relative;
    background-color: #bfd8c9;
    top: 690px;
    height: 720px;
    padding-left: 125px;
    padding-right: 50px;
  
}
@media (max-width: 700px){
    /* use this media query to help these two cells drop to the bottom when screens are smaller */
    .authors {
         grid-row: 9
    }
    .links {
        
        grid-row: 10
    }
    /* container could use some help so that it's children are full screen width */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 50px)
    }
}

/* FLEX */
/* use flexbox to make the icons behave like css zen garden's social icons */
.icons {
 
    width: 50%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.icons > div {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}