.App {
  text-align: center;
}

.App-logo {
  height: 150px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.inputBox {

  height: 400px;
  width: 1000px;
  padding-top:25px;
  margin-top: 40px;
  margin-left: 400px;
  background-color: rgb(129, 134, 158);
  border: black solid 5px;
  border-radius: 5px;
}

.inputStyle {
  width: 100px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
  font-family: 'Inter', sans-serif;
}

.badgeList {
  height: 400px;
  width: 1000px;
  padding-top:25px;
  margin-top: 100px;
  background-color: rgb(129, 134, 158);
  border: black solid 5px;
  border-radius: 5px;
}

p {
  font-size: 25px;
}