.App {
  text-align: center;
}



.main {
  background-color: grey;
  border-radius: 10px;
  width: 1000px;
  height:100px;
  padding-bottom: 20px;
  margin-left: 200px;
  margin-top: 20px;
  padding-top: 20px; 
}

/* STYLE THE EDIT BOX */
.edit_main {
  background-color: aqua;
}


.edit_form {
  background-color: grey;
  border-radius: 10px;
  width: 1000px;
  height:100px;
  padding-bottom: 20px;
  margin-left: -250px;
  margin-top: -40px;
  padding-top: 20px; 
}

.list {
  background-color: grey;
  border-radius: 10px;
  width: 1000px;

  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 200px;
  padding-top: 20px; 
}

.edit_box {
  background-color: blue;
  height: 300px;
}