.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  background-image: url("wanted.jpeg");
  background-position: 36vw;
  background-repeat: no-repeat;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: white;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

h1  {
  margin: 5px;
  color: white;
  
}

p {
  margin: 5px;
}


.header-banner {
  width: 28vw;
  height: 90px;
  opacity: 0.8;
  margin-left: 280px;
  padding: 5px;
  border-radius: 4px;

}

.header-img {
  background-color: rgb(138, 138, 123);
  background-image: url("../public/banner1.jpeg");
  border: 2px solid rgb(67, 67, 67);
  width: 60vw;
  height: 150px;
  padding: 10px;
  margin-top:25px;
  border-radius: 9px;
}


.bounty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/bountybg.jpeg");
  border-radius: 8px;
  width: 66vw;
  margin:  50px;
  margin-left: 15vw;
}

.bounty-form {
  border: 3px solid black;
  border-radius: 3px;
  background-color: #c0d3d8;
  width: 40vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bounty {
  border: 3px solid black;
  border-radius: 3px;
  background-color: #c0d3d8;
  width: 40vw;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 5px;
}

.bounty-details {
  width: 25vw;
  background-color: #557983;
  border: 3px solid rgb(72, 72, 72);
  border-radius: 6px;
  padding: 10px;
  margin-left: 7vw;
  margin-bottom: 10px;
}

.bountyImgDiv {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.bountyImg {
  width:400px;
  height: 250px;
  border-radius: 10px;
}


form {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
}

.add-bounty {
    background-color: rgb(33, 115, 21);
    color: white;
    padding: 5px;
    border-radius: 10px;
}


.delete-button {
  background-color: rgb(44, 59, 144);
  color: rgb(126, 232, 238);
  font-size: 20px;;
  padding: 5px;
  border-radius: 8px;
}

.editButton {
  background-color: rgb(88, 118, 149);
  font-size: 20px;;
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.close-button {
  background-color: rgb(88, 118, 149);
  color: white;
  padding: 5px;
  border-radius: 8px;
}

p {
  color: rgb(225, 225, 225);
}