.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  background-image: url("wanted.jpeg");
  background-position: 33vw;
  background-repeat: no-repeat;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: white;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

h1 {
  margin: 5px;
}

p {
  margin: 5px;
}



.bounty-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66vw;
  margin:  50px;
  margin-left: 15vw;
}

.bounty-form {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #c0d3d8;
  width: 40vw;
  padding-top: 10px;
  padding-bottom: 10px;
}



.bounty {
  border: 1px solid black;
  border-radius: 3px;
  background-color: #c0d3d8;
  width: 40vw;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.bountyImgDiv {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 5px;
}

.bountyImg {
  width:400px;
  height: 250px;
  border-radius: 10px;
}


form {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
}

input {
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
}

.add-bounty {
    background-color: rgb(33, 115, 21);
    color: white;
    padding: 5px;
    border-radius: 10px;
}


.delete-button {
  background-color: rgb(44, 59, 144);
  color: rgb(126, 232, 238);
  padding: 5px;
  border-radius: 8px;
}

.editButton {
  background-color: rgb(88, 118, 149);
  color: white;
  padding: 5px;
  border-radius: 8px;
}

.close-button {
  background-color: rgb(88, 118, 149);
  color: white;
  padding: 5px;
  border-radius: 8px;
}